:root {
  --main-color: #f73471;
  --black: #000;
  --light: #868e96;
}

* {
  font-family: "20th century font";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  text-transform: capitalize;
  transition: all 0.5s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #fafafa;
}
html::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 2rem;
}

/*START OF HEADER SECTION */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0rem 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.header .logo {
  font-size: 2.5rem;
  color: #eee;
  font-weight: bolder;
  letter-spacing: 00.1rem;
}

.header .logo span {
  color: #000;
}
.header.active .logo span {
  color: #aaaccc;
}
.logo::after {
  content: "";
  height: 5px;
  width: 15px;
  background: blue;
  border-radius: 5px;
  display: block;
  margin: auto;
}

/*visitors counter*/
.count {
  display: flex;
  align-items: baseline;
}

.header .nav-bar a {
  font-size: 1.9rem;
  color: #fff;
  margin: 0 1rem;
}

.header .nav-bar a:hover {
  color: var(--main-color);
  background: blue;
  margin: 8px;
  transition: ease-in-out;
}
header .icons div {
  font-size: 2.8rem;
  color: #eee;
  padding: 0.5rem;
  cursor: pointer;
  margin-left: 1rem;
}

.header .icons div:hover {
  transform: rotate(270deg);
  color: blue;
}

header .icons a {
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  color: #fff;
  background: blue;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 0.8rem 2rem;
  border: none;
}
.header .icons a:hover {
  color: var(--main-color);
  background: #fff;
}

#menu-btn {
  display: none;
}
.header.active {
  padding: 1rem 4%;
  background: rgba(0, 0, 0, 0.9);
}
header.active .nav-bar a {
  color: #eee;
}

.nav-link {
  position: relative;
}
.nav-link::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  height: 7px;
  width: 12px;
  transform: translateX(-50%);
  background-color: blue;
  opacity: 0;
}
.active-navlink::before {
  opacity: 1;
}
/* END OF HEADER */

/* HEADER MEDIA QUERY */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  .header.active {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .nav-bar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    border-top: 1rem solid#eee;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .nav-bar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .nav-bar a {
    display: block;
    margin: 2rem;
    font-size: 2rem;
  }
}

@media (max-width:550px) {
  .header.active{
    padding: 0rem 1%;
    background: rgba(0, 0, 0, 0.9);
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .header .icons a {
    letter-spacing: none;
    font-size: 1.3rem;
    padding: 1rem;
  }
}

/* END OF HEADER SECTION */

/* <<< Banner Section >>> */
.Banner_sec {
  width: 100%;
  background: url(../img/b6.png) top center no-repeat;
  height: 687px;
  position: relative;
  background-size: cover;
}

.Banner_sec .bannerside {
  width: 100%;
  position: absolute;
  top: 256px;
  left: 0px;
}

.Banner_sec .Center {
  max-width: 1100px;
  margin: auto;
}

.Banner_sec .leftside {
  padding: 92px 0px 0px 0px;
  width: 28.9%;
  float: left;
}

.Banner_sec .leftside h3 {
  font-size: 36px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0px;
  line-height: 34px;
}

.Banner_sec .leftside h3 span {
  color: #ff9000;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  display: block;
}

.Banner_sec .leftside p {
  padding: 16px 0px 26px 0px;
  font-size: 16px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
  margin: 0px;
  word-spacing: 2px;
  line-height: 22px;
}
.Banner_sec .leftside a {
  padding: 11px 16px;
  font-size: 14px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  border: solid 1px #b0bdc8;
  background: rgba(64, 93, 118, 0.8);
  transition: all 0.3s ease;
}

.Banner_sec .leftside a:hover {
  background: #ff9000;
  color: #fff;
  border: solid 1px #ff9000;
}

.Banner_sec .rightside {
  width: 68.36%;
  float: right;
  position: relative;
}

.Banner_sec .rightside .bx-wrapper {
  position: relative;
  z-index: 1;
}

.Banner_sec .rightside ul {
  list-style: none;
  margin: 0px;
}

.Banner_sec .rightside li {
  padding: 0px;
  margin: 0;
  float: none !important;
}

.Banner_sec .rightside #slider {
  width: 100%;
  float: right;
  position: relative;
  z-index: 1;
}
/* .Slider{
        height: 85vh;
    } */

.Banner_sec .rightside .Slider .text {
  padding: 25px 47px 21px 30px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.Banner_sec .rightside .Slider .text .Icon {
  width: 38%;
  float: left;
}

.Banner_sec .rightside .Slider .text ul {
  list-style: none;
  margin: 0px;
}

.Banner_sec .rightside .Slider .text li {
  float: left !important;
  padding: 0px 30px 0px 10px;
  margin: 0px;
}
.Banner_sec .rightside .Slider .text li a {
  display: block;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  transition: all 0.3s ease;
}

.Banner_sec .rightside .Slider .text li:last-child {
  padding: 0px;
}

.Banner_sec .rightside .Slider .text li:hover a {
  color: #ff9000 !important;
}

.Banner_sec .rightside .Slider .text li a .fa {
  padding: 13px;
  margin-right: 10px;
  color: #fff;
  border-radius: 50px;
  border: solid 2px #fff;
  transition: all 0.3s ease;
}

.Banner_sec .rightside .Slider .text li:hover a .fa {
  background: #ff9000;
  color: #fff;
  border: solid 2px #ff9000;
}

.Banner_sec .rightside .Slider .text li:last-child {
  padding-right: 0px;
  padding-left: 0px;
}

.Banner_sec .rightside .Slider .text .Lorem {
  float: right;
  width: 31%;
}

.Banner_sec .rightside .Slider .text .Lorem p {
  padding-top: 5px;
  font-size: 18px;
  color: #fff;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 19px;
}

.Banner_sec .rightside .Slider .text .Lorem p span {
  font-size: 14px;
  text-align: right;
  color: #ff9000;
  display: block;
  text-transform: capitalize;
}

.Banner_sec .rightside .prevBtn {
  width: 42px;
  height: 42px;
  display: block;
  text-indent: -9999px;
  background: url(../img/prev-arrow.png) no-repeat;
  position: absolute;
  top: 213px;
  left: 49px;
  z-index: 1;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.Banner_sec .rightside .prevBtn:hover {
  opacity: 1;
}

.Banner_sec .rightside .nextBtn {
  width: 42px;
  height: 42px;
  display: block;
  text-indent: -9999px;
  background: url(../img/next-arrow.png) no-repeat;
  position: absolute;
  top: 213px;
  right: 47px;
  z-index: 1;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
.Banner_sec .rightside .nextBtn:hover {
  opacity: 1;
}
.Banner_sec .rightside .Shadow {
  position: absolute;
  bottom: -3px;
  left: -25px;
  max-width: none;
}

/* BANNER MEDIA QUERY */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .Banner_sec {
    width: 100%;
    height: 524px;
  }
  .Banner_sec .Center {
    width: 100%;
    padding: 0px 2%;
  }
  .Banner_sec .bannerside {
    top: 144px;
  }
  .Banner_sec .leftside h3 {
    font-size: 32px;
  }
  .Banner_sec .rightside {
    width: 66%;
  }
  .Banner_sec .rightside .Slider {
    width: 100%;
  }
  .Banner_sec .rightside .Slider .text {
    padding: 25px 10px 21px 10px;
  }
  .Banner_sec .rightside .Slider .text .Icon {
    width: 45%;
  }
  .Banner_sec .rightside .Slider .text .Lorem {
    width: 40%;
  }
  .Banner_sec .rightside .Shadow {
    width: 105%;
  }
  .Banner_sec .rightside .prevBtn {
    top: 160px;
  }
  .Banner_sec .rightside .nextBtn {
    top: 160px;
  }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .Banner_sec {
    width: 100%;
    height: 464px;
  }
  .Banner_sec .Center {
    width: 100%;
    padding: 0px 2%;
  }
  .Banner_sec .bannerside {
    top: 144px;
  }
  .Banner_sec .leftside {
    padding: 0px;
    width: 34%;
  }
  .Banner_sec .leftside h3 {
    font-size: 30px;
  }
  .Banner_sec .leftside p {
    padding: 10px 0px;
    font-size: 14px;
    line-height: 18px;
  }
  .Banner_sec .rightside {
    width: 64%;
  }
  .Banner_sec .rightside .Slider {
    width: 100%;
  }
  .Banner_sec .rightside .Slider .text {
    padding: 25px 10px 21px 10px;
  }
  .Banner_sec .rightside .Slider .text .Icon {
    width: 46%;
  }
  .Banner_sec .rightside .Slider .text li {
    padding: 0px 10px;
  }
  .Banner_sec .rightside .Slider .text .Lorem {
    width: 50%;
  }
  .Banner_sec .rightside .Slider .text .Lorem p {
    font-size: 16px;
  }
  .Banner_sec .rightside .Shadow {
    width: 106.5%;
    left: -21px;
  }
  .Banner_sec .rightside .prevBtn {
    top: 100px;
    left: 10px;
  }
  .Banner_sec .rightside .nextBtn {
    top: 100px;
    right: 10px;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .Banner_sec {
    width: 100%;
    height: 620px;
  }
  .Banner_sec .Center {
    width: 100%;
    padding: 0px 3%;
  }
  .Banner_sec .bannerside {
    top: 144px;
  }
  .Banner_sec .leftside {
    padding: 0px 0px 20px 0px;
    width: 100%;
    float: none;
  }
  .Banner_sec .rightside {
    width: 99%;
  }
  .Banner_sec .rightside .Slider {
    width: 100%;
  }
  .Banner_sec .rightside .Slider .text {
    padding: 10px 10px;
  }
  .Banner_sec .rightside .Slider .text .Icon {
    width: 48%;
  }
  .Banner_sec .rightside .Slider .text li {
    padding: 0px 10px;
  }
  .Banner_sec .rightside .Slider .text .Lorem {
    width: 50%;
  }
  .Banner_sec .rightside .Slider .text .Lorem p {
    font-size: 14px;
  }
  .Banner_sec .rightside .Shadow {
    width: 105.5%;
    left: -16px;
  }
  .Banner_sec .rightside .prevBtn {
    top: 100px;
    left: 10px;
  }
  .Banner_sec .rightside .nextBtn {
    top: 100px;
    right: 10px;
  }
  .Banner_sec .rightside #slider li img {
    height: 280px;
    width: 100%;
  }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  .Banner_sec {
    width: 100%;
    height: 556px;
  }
  .Banner_sec .Center {
    width: 100%;
    padding: 0px 3%;
  }
  .Banner_sec .bannerside {
    top: 90px;
  }
  .Banner_sec .leftside {
    padding: 0px 0px 10px 0px;
    width: 100%;
    float: none;
  }
  .Banner_sec .leftside h3 {
    font-size: 30px;
  }
  .Banner_sec .leftside p {
    font-size: 14px;
    line-height: 18px;
    padding: 10px 0px;
  }
  .Banner_sec .leftside a {
    font-size: 13px;
  }
  .Banner_sec .rightside {
    width: 98%;
  }
  .Banner_sec .rightside .Slider {
    width: 99%;
    text-align: center;
  }
  .Banner_sec .rightside .Slider .text {
    padding: 10px 10px;
  }
  .Banner_sec .rightside .Slider .text .Icon {
    width: 100%;
  }
  .Banner_sec .rightside .Slider .text .Icon li {
    float: none !important;
    display: inline-block;
    padding: 0px 10px;
  }
  .Banner_sec .rightside .Slider .text .Lorem {
    width: 100%;
  }
  .Banner_sec .rightside .Slider .text .Lorem p {
    font-size: 13px;
    text-align: initial;
  }
  .Banner_sec .rightside .Slider .text .Lorem p span {
    display: inline-block;
  }

  .Banner_sec .rightside .Slider .text .Lorem p span {
    float: right;
  }

  .Banner_sec .rightside .Slider .text .Lorem p span {
    float: right;
  }
  .Banner_sec .rightside .Shadow {
    width: 105.5%;
    left: -16px;
  }
  .Banner_sec .rightside .prevBtn {
    top: 100px;
    left: 10px;
  }
  .Banner_sec .rightside .nextBtn {
    top: 100px;
    right: 10px;
  }
  .Banner_sec .rightside #slider li img {
    height: 290px;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .Banner_sec .leftside a {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* Scroll Up  */
.scrollUp-btn {
  position: fixed;
  bottom: -30%;
  right: 3rem;
  height: 3rem;
  width: 3rem;
  font-size: 3rem;
  border-radius: 4px;
  color: blue;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  z-index: var(--z-overlay);
  justify-content: center;
  transition: 0.2s;
}
.scrollUpBtn-active {
  bottom: 3rem;
}
.scrollUp-icon {
  opacity: 0.6;
  transition: 0.3s;
}
.scrollUp-btn:hover .scrollUp-icon {
  opacity: 1;
}

/* <<< bg color>>> */
.bgcolor {
  height: 74px;
  width: 100%;
  background: rgba(249, 250, 251, 1);
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(249, 250, 251, 1)),
    color-stop(0%, rgba(249, 250, 251, 1)),
    color-stop(100%, rgba(225, 228, 231, 1))
  );
  background: linear-gradient(
    to bottom,
    rgba(249, 250, 251, 1) 0%,
    rgba(249, 250, 251, 1) 0%,
    rgba(225, 228, 231, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fafb', endColorstr='#e1e4e7', GradientType=0 );
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #eee;
  -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: rgb(20, 2, 2);
  -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(
      0deg
    ); /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(
      360deg
    ); /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(
      0deg
    ); /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(
      360deg
    ); /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
  -webkit-transform: translateX(
    0
  ); /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
  transform: translateX(0); /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(
    -100%
  ); /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
  transform: translateX(-100%); /* Firefox 16+, IE 10+, Opera */
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(
    100%
  ); /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
  transform: translateX(100%); /* Firefox 16+, IE 10+, Opera */
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
  visibility: hidden;

  -webkit-transform: translateY(
    -100%
  ); /* Chrome, Opera 15+, Safari 3.1+ */ /* IE 9 */
  transform: translateY(-100%); /* Firefox 16+, IE 10+, Opera */
  transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
  display: none;
}

#Date-container {
  border: 3px solid block;
  border-radius: 5px;
  overflow: hidden;
}

#Date {
  text-align: right;
  letter-spacing: 2.3px;

  /* animation properties */
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
