*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
} 

html::-webkit-scrollbar{
    width: 0.5rem;

} 

html::-webkit-scrollbar-thumb{
    background:  rgb(56, 56, 217);
} 

body{
    background: white;
    overflow-x:hidden ;
} 

section{
    padding: 3rem 9%;
} 

.heading{
    text-align: center;
    margin-bottom: 2rem;
} 

.heading span{
    color: rgb(56, 56, 217);
    font-size: 2rem;
} 

.heading h1{
    font-size: 4rem;
    color: #000;
    
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: rgb(56, 56, 217);
    border-radius:5rem ;
    cursor: pointer;
    background: none;
} 

.btn:hover{
    background: rgb(56, 56, 217);
    color: white;
    
}

.about{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 5rem;
}

.about .video-container{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
    width: 50%;
}

.about .video-container video{
    border-radius: 1rem;
    width: 100%;
}
 
.about .content{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
    /* margin-bottom: 5rem; */
} 

.about .content span{
    color: rgb(56, 56, 217);
    font-size: 2rem;
} 

.about .content h3{
    color: #000;
    font-size: 4rem;
    margin-top: .5rem;
} 

.about .content  p{
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #000;
    line-height: 2;
} 

.services .box-container{
    display: -ms-grid;
    display: grid;
    -ms-grid-column: (minmax(32rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit,minmax(32rem, 1fr));
    gap: 5rem;
} 

.services .box-container .box{
    background: #fff;
    border-radius: 3rem;
    padding: 3rem;
    text-align: center;
    box-shadow: rgba(17  17  17 / 15) 0px 0.5rem 1rem;

}

.services .box-container .box:hover{
    transform: scale(1.05);
    background: #fff;
} 



.services .box-container .box i{
    font-size: 4rem;
    color: rgb(56, 56, 217);
    margin-bottom: 2rem;
}

.services .box-container .box h3{
    font-size: 4rem;
    color: #000;
} 

.services .box-container .box{
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #000;
    line-height: 2;
} 

.destination .box-container{
    display: -ms-grid;
    display: grid;
    -ms-grid-template-column: (minmax(27rem, 1fr))auto[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
} 

.destination .box-container .box{
   border-radius: 1rem;
   overflow: hidden;
   background: #fff; 
   box-shadow: rgba(17  17  17 / 15%) 0px 0.5rem 1rem;
}

.destination .box-container .box:hover img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 

}  

.destination .box-container .box .image{
    height: 20rem;
    overflow: hidden;
    width: 100%;
}

.destination .box-container .box .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;

} 

.destination .box-container .box .content{
    padding: 2rem;
    color: #000;
} 

.destination .box-container .box p{
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #3d3d3d;
    line-height: 2;
}

.destination .box-container .box .content a{
    font-size: 1.7rem;
    color: #d9296f;
} 

.destination .box-container .box .content a:hover i{
    padding-left: .5rem;
}

.destination .box-container .box .content a i {
    padding-right: .5rem;
} 


/*------ gallery ---*/

.gallery .box-container {
    -webkit-columns: 3 25rem;
    columns: 3  25rem;
    -webkit-column-gap: 1.5rem;
    column-gap: 1.5rem;
} 

.gallery .box-container .box{
    margin-bottom: 1rem;
    -webkit-column-break-inside: avoid;
     break-inside: avoid;
} 

.gallery .box-container .box img{
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
} 

.gallery .box-container .box span{
    font-size: 1.4rem;
    color: #3d3d3d;
} 

.gallery .box-container .box h3{
    margin-top: .5rem;
    font-size: 2rem;
    color: #000;
}

/*---- Testimonial-----*/

.testimonial{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 4rem;
}

.testimonial .content{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
} 

.testimonial .content span{
    font-size: 2rem;
    color: #d9296f;
}

.testimonial .content h3{
    font-size: 4rem;
    color: #000;
}

.testimonial .content p{
    font-size: 1.4rem;
    color: #3d3d3d;
    padding: 1rem 0;
    line-height: 2;
    letter-spacing: 1px;
}

.testimonial .box-container{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1.5rem;
} 

.testimonial .box-container .box{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 20rem;
    flex: 1 1 20rem;
    border-radius: 1rem;
    padding: 2rem;
    background: #fff;
    box-shadow: rgba(17  17  17 / 15%) 0px 0.5rem 1rem;

} 

.testimonial .box-container .box p{
    font-size: 1.4rem;
    padding-bottom: 1rem;
    line-height: 2;
    color: #3d3d3d;
}

.testimonial .box-container .box .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
}

.testimonial .box-container .box .user img {
    height: 5rem;
    width: 5rem;
    border-radius: 5rem;
}

.testimonial .box-container .box .user h3 {
    font-size: 1.7rem;
    color: #000 ;
}

.testimonial .box-container .box .user p{
    font-size: 1.5rem;
    color: #3d3d3d;
} 

/*---banner----*/

.banner{
    background: -webkit-gradient(liner,left top, left bottom, from(rgba(17,17,17, 0.7)), to(rgba(17,17,17, 0.7))) 
    url(pic\ 1\ large.jpg) no-repeat;
    background: linear-gradient(rgba(17,17,17, 0.7), rgba(17,17,17, 0.7)), url(pic\ 1\ large.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3rem 2rem;
    background-attachment: fixed;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;

}

.banner .content span{
    font-size: 2rem;
    color: #d9296f;
}

.banner .content h3{
    font-size: 4rem;
    color: #fff;
    margin-top: 1rem;
} 

.banner .content p{
    max-width: 60rem;
    margin: 1rem auto;
    font-size: 1.4rem;
    color: #f8f9fc;
    letter-spacing: 1px;
    line-height: 2;
} 

/*-----Blog-------*/

.blogs .box-container{
    display: -ms-grid;
    display: grid;
    -ms-grid-template-column: (minmax(32rem, 1fr)) [auto];
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1rem;
    margin-bottom: 5rem;
} 

.blogs .box-container .box {
    border-radius: 1rem;
    background: #fff;
    box-shadow: rgba(17  17  17 / 15%) 0px 0.5rem 1rem;
    overflow: hidden;
} 

.blogs .box-container .box:hover{
    transform: scale(1.05);
} 

.blogs .box-container .box:hover .image img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.blogs .box-container .box .image{
    height: 25rem;
    overflow: hidden;
    width: 100%;
} 

.blogs .box-container .box .image img{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.blogs .box-container .box .content{
    padding: 2rem;

} 

.blogs .box-container .box .content .link{
    font-size: 2rem;
    color: #000;
}

.blogs .box-container .box .content .link:hover{
    color: #d9296f;
} 

.blogs .box-container .box .content p{
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #3d3d3d;
    line-height: 2;
}

.blogs .box-container .box .content .icon{
    padding: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.blogs .box-container .box .content .icon a{
    font-size: 1.4rem;
    color: #3d3d3d;
} 

.blogs .box-container .box .content .icon a:hover{
    color: #d9296f;
}

.blogs .box-container .box .content .icon a i {
    padding-right: .5rem;
    color: #d9296f;
} 


/*** ---footer ----***/

.footer{
    background: #fff;
    box-shadow: rgba(17  17  17 / 15%) 0px 0.5rem 1rem;
} 

.footer .box-container{
    display: -ms-grid;
    display: grid; 
    -ms-grid-template-column: (minmax(25rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    
}

.footer .box-container .box{
    padding: 1rem 0;
} 

.footer .box-container .box .logo{
    padding-bottom: 1rem;
} 

.footer .box-container .box h3{
    font-size: 2.2rem;
    color: #000;
    padding: 1rem 0;
}

.footer .box-container .box p{
    font-size: 1.4rem;
    color: #3d3d3d;
    padding: 1rem 0;
    line-height: 2;
} 

.footer .box-container .box p i{
    padding-right: 5rem;
    color: #d9296f;
} 

.footer .box-container .box  .share{
    padding-top: 1rem;
} 


.footer .box-container .box .share a{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4rem;
    font-size: 2rem;
    border-radius: 50%;
    font-size: 1.7rem;
    border: 0.2rem solid #d9296f;
    color: #d9296f;
    margin-right: .5rem;
    text-align: center;
} 

.footer .box-container .box .share a:hover{
    background: #d9296f;
    color: #f8f9fc;
} 

.footer .box-container .box .links {
    font-size: 1.4rem;
    color: #3d3d3d;
    padding: 1rem 0;
    display: block;
}

.footer .box-container .box .footer_info:hover{
    color: #d9296f;
    cursor: pointer;
}


.footer .box-container .box .links:hover {
    color: #d9296f;
}

.footer .box-container .box .link i{
    padding-right: .5rem;
    color: #d9296f;
} 

.footer .box-container .box .link:hover i{
    padding-right: 2rem;
}
  
.footer .box-container .box form .email{
    width: 100%;
    border-radius: 5rem;
    border: 0.2rem solid #d9296f;
    background: none;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #3d3d3d;
    margin-bottom: 1rem;
    padding: 1.2rem 1.4rem;
} 

.credits{
    background: #242424;
    box-shadow: rgba(17  17  17 / 15%) 0px 0.5rem 1rem;
    text-align: center;
    font-size: 2rem;
    padding: 2rem 1rem;
    color: #f8f9fc;
} 

.credits span{
    color: #d9296f;
}

